# Server Configuration
NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/bub-it
JWT_SECRET=jwt-secret
JWT_ACCESS_SECRET=jwt-access-secret
JWT_REFRESH_SECRET=jwt-refresh-secret
ACCESS_TTL=3600000 # 1 hour in milliseconds
REFRESH_TTL=604800000 # 7 days in milliseconds
MAX_RATE_LIMIT=100
FRONTEND_URL=frontend-url
REDIRECT_URL=redirect-url
FRONTEND_DEV_URL=http://localhost:4000
BCRYPT_SALT_ROUNDS=10
COOKIE_DOMAIN=localhost
URL_ANALYTICS_MAX=100
URL_CACHE_TTL_SECONDS=3600

# Email Configuration (https://ethereal.email/ for development/testing)
EMAIL_SMTP_SERVICE=email-smtp-service
EMAIL_SMTP_HOST=email-smtp-host
EMAIL_SMTP_PORT=email-smtp-port
EMAIL_SMTP_SECURE=false
EMAIL_SMTP_PASS=email-smtp-pass
EMAIL_SMTP_USER=email-smtp-user
EMAIL_FROM_NAME=email-from-name
EMAIL_FROM_ADDRESS=email-from-address

# REDIS
REDIS_HOST=redis-host
REDIS_PORT=redis-port
REDIS_USERNAME=redis-username
REDIS_PASSWORD=redis-password
REDIS_CACHE_PREFIX=app

# Logging Configuration
LOGGLY_TOKEN=loggly-token
LOGGLY_SUBDOMAIN=loggly-subdomain
LOGGLY_TAGS=['loggly-tags']
LOGGLY_SERVICE_NAME=api
